# Configuration Google OAuth 2.0 pour Gmail
GOOGLE_CLIENT_ID=659040716385-245agcfion0fdr3l56io1b4vroj9jdot.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=votre_client_secret_ici
GOOGLE_REFRESH_TOKEN=votre_refresh_token_ici
GOOGLE_REDIRECT_URI=http://localhost/NutriVertMVC/oauth-callback.php

# Configuration Email
MAIL_FROM=votre-email@gmail.com
MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
MAIL_SMTP_ENCRYPTION=tls
